html {
    font-family: 'Major Mono Display', monospace;
    background-color: rgb(30,7,65);
    color: rgb(241,234,209);
    border-color: rgb(241,234,209);
}

.container {
    width: 550px;
    margin: 0 auto;
}

h1 {
    font-family: 'Major Mono Display', monospace;
}

.choices {
    width: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.choices > div {
    width: 150px;
    height: 100px;
    display: flex;
    justify-content:  center;
    border-radius: 5px;
    border: dashed 1px
}

.choices img {
    width: 75px;
    filter: invert(84%) sepia(27%) saturate(156%) hue-rotate(4deg) brightness(109%) contrast(89%);
}

.score {
    width: 200px;
    margin: 50px auto 0 auto;
    display: flex;
    justify-content: space-around;
    border: 1px dashed;
    margin-bottom: 10px
}

.controls {
    width: 300px;
    margin: 0 auto;
}

button {
    border: none;
    padding: 5px 10px;
    border-radius: 2px;
    background-color: rgb(241,234,209);
    font-family: 'Major Mono Display', monospace;
}


.buttons, .start-reset {
    margin-top: 20px;
    width: 300px;
    display: flex;
    justify-content: space-around;
}

.start-reset {
    flex-direction: column;
    align-items: center;
}

.start-reset button {
    width: 80px;
    margin-bottom: 10px;
}

p#score-label {
    margin-bottom: 0
}

#start {
    background: rgb(45,139,146);
    color: rgb(241,234,209);
}

#reset {
    background: rgb(132,181,162);
    color: rgb(241,234,209);
}

@keyframes blink { 
    50% { 
        border-color: rgb(132,181,162) 
    } 
}

.animate-blink {
    animation: blink .5s step-end infinite alternate; 
}

footer {
    margin-top: 60px;
    text-align: center;
}

a {
   color: rgb(241,234,209);
}

.credits {
    text-align: center;
}

a.teste {
    background-color: blue;
}